    </main>
</body>
<div class="footer-container"
    <div class="footer">
        <h5>© 2022 The Kelly Academy. All Rights Reserved. (XXX)XXX-XXXX. Site by Sarah Kelly </h5>
    </div>
</div>
</html>